@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cart {
    font-family: "Open Sans";
    background-color: rgb(218, 204, 204, 1);

    &__button {
        @include button;
    };
    &__heading-container {
        margin: 3rem auto 5rem;

    }
    &__heading {

        font-size: 2.8rem;

    }
    &__items-container {
        margin: 1rem;
        font-size: 2rem;
    }

    &__footer {
        padding: 1rem;
    }
    &__total-container {
        
    }
    &__total {
        font-size: 2rem;
    }
    
    &__footer {
        
    }
    &__footer {
        
    }
    &__footer {
        
    }
}