@use "../../styles/partials/variables" as *;


.rating {
    border: none;
    font-size: 1.8rem;
   background-color: $background-colour-2;

    color: $supporting-colour-2;
 &__yellow-star {
    @extend .rating;
 }
}