@use "./variables" as *;


@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin tablet-l {
    @media screen and (min-width: $tablet-l-breakpoint) {
      @content;
    }
  }

  @mixin desktop-sm {
    @media screen and (min-width: $desktop-sm-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin cart-hover {
    cursor: pointer;
    color: $supporting-colour-2;
  }
  
  @mixin button {
  width: 50%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  padding: 1.3rem 1rem;
  margin: 0.5rem;
  font-family: inherit;
  @include tablet {
    width: 20%;
    margin-left: 2rem;
};
  }
  