// // COLOURS

$primary-colour-1:#ffffff ;
$primary-colour-2: #000000;
$primary-colour-3: #450002;

$secondary-colour-1: #5c667e;
$secondary-colour-2: #bdc5d5;


$background-colour-1:#a99393;
$background-colour-2: #e6e1e1;
$background-colour-3:#dacccc;


$supporting-colour-1: #1c690b;
$supporting-colour-2: #aa1111;
$supporting-colour-3: #eebc1d;
$supporting-colour-4: #635bff;
$supporting-colour-5: #7a73ff;

// BREAKPOINTS

$mobile-l-breakpoint: 400px;
$tablet-breakpoint: 768px;
$tablet-l-breakpoint: 900px;
$desktop-sm-breakpoint: 1100px;
$desktop-breakpoint: 1280px;


