// // COLOURS

// $primarycolour-1: #13182c;
$primary-color-2: #ffffffff;
// $primarycolour-3: #ffffff;

// $secondarycolour-1: #5c667e;
// $secondarycolour-2: #bdc5d5;

// $background-colour-1: #232940;
// $background-colour-2: #f7f8f9;

// $supporting-colour-1: #158463;
// $supporting-colour-2: #c94515;

// BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-slim-width: 1020px;
$desktop-breakpoint: 1280px;

// //FONT-WEIGHTS
// $regular: 400;
// $demi: 600;
