// // COLOURS

$primary-colour-1: #13182c;
$primary-colour-2: #ffffffff;
$primary-colour-3: #ffffff;

$secondary-colour-1: #5c667e;
$secondary-colour-2: #bdc5d5;

$background-colour-1: #232940;
$background-colour-2: #f7f8f9;

$supporting-colour-1: #158463;
$supporting-colour-2: #c94515;

// BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-slim-width: 1020px;
$desktop-breakpoint: 1280px;

//FONT-WEIGHTS
$regular: 400;
$demi: 600;
