@use "../../styles/partials/variables" as *;

.hero {
  font-family: "Sacramento", sans-serif;
  height: 70vh;
  background-image: url("../../assets/images/heroImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    color: $primary-colour-1;
  }

  &__heading {
    font-size: 4rem;
  }
}
