@use "../../styles/partials/variables" as *;


.hero {
  font-family: "Sacramento", sans-serif;
  height: 70vh;
  background:linear-gradient(rgba(33,33,33,0.522), rgba(33,33,33,0.522));
  background-image: url("../../assets/images/heroImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
 &__container {
  color: white;

 }
 &__text {
  // font-size:4rem;
 }

 &__heading {
  font-size:4rem;
 }

}
        
