@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.checkout {
    margin-top: 5rem;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    // margin-top:10rem;
    
        &__form 
            { 
                border: 2px solid red;
                // margin-top:10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        };
    
}