@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/forms" as *;


.header {

  &__section {
    border: 3px solid red;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background:transparent;
    width: 100%;
    // padding: 1rem;
    z-index: 1000;
    color: $primary-colour-2;
  }

  &__section-active {
    background: red;
    // box-shadow:
  }

  &__logo-div {
    border: 2px solid orange;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    display: flex;
    align-items: center;
    
  }
  &__icon {
    font-size: 2rem;
    cursor:pointer;
    &--left {
      font-size: 1.5rem;
    }
  }
  &__navbar {
    display: flex;
    align-items: center;
    border: 3px solid black;
    // position: absolute;
    height: max-content;
    padding: 1rem;
    // width: 100em;
    // top: 0;
    // left: 0;
    box-shadow: 0 2px 4px rgba(209,209,209,0.904);
    
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;


    
  }

  &__nav-item {
    font-size: 2rem;

  }






    &__cart-modal {
        // @include btn;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: auto;
        max-width: 40rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        z-index: 20;
        opacity: 1;
        border: 1.5px solid grey;
        background-color: grey;
    
      }
      &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(218, 204, 204, 0.9);
        z-index: 10;
        
      }
      &__back-btn {
        @include button;
      }
}